.nav {
	background-color: rgb(250, 0, 0);
	margin-left: auto;
	margin-right: auto;
}

.nav ul {
	margin-left: auto;
	margin-right: auto;
}

.nav li{
	display: inline;
	padding: 50px;
}

.introduction h1 {
	color: rgb(255, 50, 0);
}

.introduction p {
	color: rgb(255, 10, 0);
}
