.nav {
	background-color: rgb(0, 100, 150);
	height: 100px;
}

	.nav img {
		margin-left: 10px;
		margin-top: 7px;
	}

	.nav ul {
		margin-top: 35px;
		margin-right: 10px;
		float: right;
	}

	.nav li {
		display: inline;
	}

	.nav a {
		font: Arial, Helvetica, sans-serif;
		font-size: 20px;
		font-weight: bold;
		color: white;
		text-decoration: none;
		padding-top: 40px;
	    padding-bottom: 40px;
	    padding-left: 25px;
	    padding-right: 25px;
	}

	.nav a:hover, a:active {
    	background-color: rgb(20, 120, 170);
	}

.aboutme {
}

	.aboutme h1 {
		font-size: 60px;
		font-weight: bold;
		color: rgb(0, 100, 150);
		margin-top: 150px;
		text-align: center;
	}

	.aboutme p {
		font-size: 20px;
		color: black;
		text-align: justify;
		padding-top: 20px;
	}

	.aboutme img {
		vertical-align: left;
	}

	.inprogress p {
		text-align: center;
		font-size: 25px;
		color: rgb(200, 200, 200);
	}

.workexperience {
}

	.workrow {
		margin-top: 50px;
	}

	.workexperience h1 {
		font-size: 60px;
		font-weight: bold;
		color: rgb(0, 100, 150);
		text-align: center;
	}

	.workexperience h2 {
		margin-left: 30px;
	}

	.workexperience p {
		font-size: 20px;
		margin-left: 80px;
	}

	.Robotics {
	}

.projects {
}

	.projects h1 {
		font-size: 60px;
		font-weight: bold;
		color: rgb(0, 100, 150);
		text-align: center;
	}

	.projects h2 {
		margin-left: 30px;
		margin-top: 50px;
	}

	.projects p {
		font-size: 20px;
		margin-left: 50px;
	}

	.projects ul {
		margin-left: 100px;
	}

	.projects a {
		font-size: 20px;
	}

	.otherprojectrow {
		margin-bottom: 50px;
	}

	.otherprojects {
		margin-top: 50px;
		margin-bottom: 50px;
		background-color: rgb(0, 100, 150);
	}

	.otherprojects a {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 30px;
		padding-right: 30px;
		font-size: 30px;
		background-color: rgb(0, 100, 150);
		color: rgb(230, 230, 230);
	}

	.otherprojects a:hover{
    	background-color: rgb(20, 120, 170);
	}

.portfolio {
}

	.portfolio h1 {
		font-size: 60px;
		font-weight: bold;
		color: rgb(0, 100, 150);
		text-align: center;
	}

.contact {
}

	.contact h1 {
		font-size: 60px;
		font-weight: bold;
		color: rgb(0, 100, 150);
		text-align: center;
	}

	.info {
		margin-left: 100px;
		font-size: 40px;
	}