.nav {
	background-color: rgb(5, 5, 5);
}

.nav li{
	display: inline;
	padding-left: auto;
	padding-right: auto;
}

.introduction h1 {
	color: rgb(255, 50, 0);
}

.introduction p {
	color: rgb(255, 10, 0);
}
